/* .btn-Danger{
    background-color:#e28f30;
    border-color: #cf5f1e;
} */

.txt-card{
    text-align: left;
}
.views-td{
    text-align: center;
}

.btn{
    margin-right: 5px;
}
.btn:last-child{
    margin-right: 0px;
}
.Title-list-news-admin{
    display: flex;
   justify-content: center;
    margin: 0 0;
    padding-top: 4%;
}
.btn-list-add{
    display: flex;
    justify-content:flex-end;
     margin: 0 0;
     
}
.resultTxt {
    align-items: center;
    justify-content: center;
    display: flex;
}

.Title-list-news-admin.booking {
    display: flex;
    justify-content: center;
    margin: 0 0;
    padding-top: 4%;
    flex-direction: column;
    align-items: center;
}

/* //////////////////////////////////////////////////////// */


.card-infor{

    width: 100%;
    height: 160px;
    background-color: #D9D9D9;
    border-radius: 0 0 120px 120px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0,0.2);
    margin-bottom: 40px;
}
.card-infor .txt{
    padding-top: 20px;
    max-width: 1600px;
    margin: 0 auto;
}
.buttons-painel{
    max-width: 1600px;
    margin: 0 auto;
}
.buttons-painel .grup-buttons{

}
.grup-buttons div{
    margin: 0 auto;
    width: 509px;
    height: 174px;
    background-color: #D9D9D9;
    border-radius: 30px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0,0.2);
    margin-bottom: 40px;
}
.grup-buttons .button{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.grup-buttons h4{
   
}
.grup-buttons img{
    width: 30px;
    
}
.input-horario {
    display: flex;
}
div.input-horario input {
    width: px;
    width: 93px;
}
label.form-news {
    color: #878787;
}
 input[type='checkbox'] {
    height: 1em;
}
.form-switch .form-check-input {
    width: 93px;
    height: 44px;
    margin-left: -2.5em;
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27rgba%280, 0, 0, 0.25%29%27/%3e%3c/svg%3e");
    background-position: left center;
    border-radius: 19em;
    transition: background-position .15s ease-in-out;
}
.switch-visibilidade-time.form-switch {
    margin-top: 10px;
}
